<nav>
    <div class="logo" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
        Camilo <span>Montes</span>
    </div>
    <div class="nav-container">
        <div class="links">
            <a href="">Inicio</a>
            <a href="#sobre-mi">Sobre mí</a>
            <a href="#habilidades">Habilidades</a>
            <a href="#proyectos">Proyectos</a>
            <a href="#contacto">Contacto</a>
        </div>
    </div>
</nav>

<section>
    <div class="main-container">
        <div class="content">
            <h1 data-aos="fade-right" data-aos-duration="1500" data-aos-delay="600">Hey soy <span>Camilo</span></h1>
            <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="800" class="typewriter">soy un <span
                    class="typewriter-text" #typewriterText></span><label>|</label></div>
            <p data-aos="flip-down" data-aos-duration="1500" data-aos-delay="1000">Desarrollador Full Stack con un año de
                experiencia en el desarrollo de aplicaciones web —incluyendo prácticas y proyectos freelance— y más de dos años de
                formación técnica. Creo soluciones escalables aplicando buenas prácticas en front-end y back-end. Trabajo con
                TypeScript, JavaScript, Node.js, MySQL, Angular y React. Me caracterizo por mi adaptabilidad, creatividad y enfoque
                en la mejora continua. En constante aprendizaje y abierto a nuevos retos que impulsen mi crecimiento profesional.
            </p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/camilo-montes-0245a9268/" target="_blank" rel="noopener noreferrer"
                    class="icon-wrapper" aria-label="Camilo Montes en LinkedIn">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/camilomont" target="_blank" rel="noopener noreferrer" class="icon-wrapper"
                    aria-label="Camilo Montes en GitHub">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.instagram.com/camilo_cst?igsh=mxrvazn2nm4xdjm3zq==" target="_blank"
                    rel="noopener noreferrer" class="icon-wrapper" aria-label="Camilo Montes en Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <a href="../../../assets/pdfs/CamiloMontesCv .pdf" target="_blank" rel="noopener noreferrer">
                <button>Descargar CV</button>
            </a>
        </div>
        <div class="image-wrapper" data-aos="zoom-in" data-aos-duration="2000">
            <div class="image-square-deco top-left"></div>
            <div class="image-square-deco bottom-right"></div>
            <div class="image">
                <img src="../../../assets/img/perfil.webp" alt="Imagen" loading="lazy">
            </div>
        </div>
    </div>
</section>
<div id="sobre-mi"></div>
<section class="about-section">
    <p class="subtitle" data-aos="zoom-in-up" data-aos-delay="100">Conoce más</p>
    <h2 class="title" data-aos="zoom-in-up" data-aos-delay="100">Sobre Mí</h2>

    <div class="about-cards" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">
        <div class="about-card">
            <i class="fa-solid fa-laptop-code icon"></i>
            <h3>Experiencia En Desarrollo Web</h3>
            <p>Seis meses de prácticas en</p>
            <strong>SERVIMAX Y COMPAÑIA S.A.S.</strong>
            <a href="../../../assets/pdfs/CRISTIAN CAMILO MONTES TEHERAN- Certificado.pdf" target="_blank"
                rel="noopener noreferrer">
                <button>Certificado</button>
            </a>
        </div>

        <div class="about-card" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">
            <i class="fa-solid fa-graduation-cap icon"></i>
            <h3>Educación</h3>
            <p>Servicio Nacional de Aprendizaje (SENA)</p>
            <strong>Sistemas / Software</strong>

            <div class="button-group">
                <a href="../../../assets/pdfs/Certificado tecnico en sistemas.pdf" target="_blank"
                    rel="noopener noreferrer">
                    <button>Técnico</button>
                </a>
                <a href="../../../assets/pdfs/Certificado Tecnologo en desarrollo de software.pdf" target="_blank"
                    rel="noopener noreferrer">
                    <button>Tecnólogo</button>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="habilidades-section" id="habilidades">
    <app-habilidades></app-habilidades>
</section>

<div class="section-divider"></div>

<section class="proyectos-section" id="proyectos">
    <app-proyectos></app-proyectos>
</section>

<div class="section-divider"></div>

<section class="contacto-section" id="contacto">
    <app-contacto></app-contacto>
</section>